{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Library System{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'management/style.css' %}">
</head>
<body>

    <nav class="main-navbar">
        <div class="nav-container">
            <a href="#" class="brand-logo">Library System</a>
            <div class="nav-links">
                <a href="{% url 'dashboard' %}" class="nav-item">Dashboard</a>
                <a href="{% url 'book' %}" class="nav-item">Book</a>
                <a href="{% url 'customer' %}" class="nav-item">Customer</a>
                <a href="{% url 'transaction' %}" class="nav-item">Transaction</a>
            </div>
            
            <!-- Added Logout Button on the right -->
            <div class="nav-actions">
                <a href="{% url 'admin_logout' %}" class="btn btn-logout">Logout</a>
            </div>
        </div>
    </nav>

    <div class="main-content">
        {% block content %}

        {% endblock %}
    </div>

</body>
</html>